<!doctype html>
<html>
  <head>
    <title>voix.space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
    <script src="/public/js/threex.domevents.js"></script>
    <script src="/public/js/threex.windowresize.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
