{% extends "layout.html" %}

{% block body %}
  <div id="app"></div>
  <div id="postMessageModal" class="overlay">
    <div class="modal">
      I'm the post message modal
    </div>
  </div>

  <div id="showMessageModal" class="overlay">
    <div class="modal">
      I'm the show message modal
    </div>
  </div>
  <script src="/public/js/TrackballControls.js"></script>
  <script src="/public/js/Detector.js"></script>
  <script src="/public/js/Bird.js"></script>
  <script src="/public/js/Boid.js"></script>
  <script src="/dist/bundle.js"></script>
{% endblock %}
