{% extends "layout.html" %}

{% block body %}
<div id="app"></div>
<!--
<div class="overlay"></div>

<div class="modal" id="postModal">
  <div class="content">
    <div id="postMessage">
      <h1>Post Message</h1>
      <input id="messageInput" type="text" placeholder="Hello world" />
      <button type="submit" id="postMessageButton">Post</button>
    </div>
  </div>
</div>

<div class="modal" id="viewModal">
  <div class="content">
    <div id="viewMessage">
    </div>
  </div>
</div> -->
  <script src="/dist/bundle.js"></script>
{% endblock %}
